[Unit]
Description=Queue Manager gunicorn daemon
Requires=queue_manager_server.socket
After=network.target

[Service]
Type=notify
User=andrew
Group=andrew
RuntimeDirectory=gunicorn
WorkingDirectory=/home/andrew/python_projects/queue-manager
ExecStart=/home/andrew/python_projects/queue-manager/venv/bin/gunicorn -k uvicorn.workers.UvicornWorker --workers 1 --error-logfile '/home/andrew/python_projects/queue-manager/gunicorn-errors.txt' --bind unix:/run/queue_manager_gunicorn.sock main:app
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
